.TextMessage {
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 260px;
    height: 200px;
    padding: 15px;
    background: var(--menu-background);
    border-top: 1px solid var (--menu-font-color);
    border-top: 1px solid var (--menu-border-color);
    color: var(--menu-font-color)
}

.TextMessage_p {
    margin: 0;
    font-size: 16px;
    font-family: courier;
}

.TextMessage_button {
    margin: 0;
    font-size: 12px;
    padding: 0;
    -webkit-appearance: none;
    background: none;
    border: 0;
    font-family: inherit;
    cursor: pointer;

    position: absolute;
    right: 15px;
    bottom: 15px;
}