:root {
    --border-color: yellow;
    --dialog-background: #bdbdbd;

    --menu-background: #bdbdbd;
    --menu-border-color: #A48465;
    --menu-font-color: black;
    --menu-selected-background: #7fc2ff;
}


body{
    background: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: Courier;
    font-style: normal;
    color: white;
}

.game-container {
    position: relative;
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    margin-top: 20px;
    outline: 1px solid #fff;

    /*transform: scale(2) translateY(33%);*/
}

.game-container canvas {
    image-rendering: pixelated;
}

.input-container {
    position: relative;
    padding-top: 30px;
    margin: auto;
    width: 60%;
}

table{
    width: 100%;
}

td{
    padding: 5px;
}

.tooltip_uboat:hover .tooltip {
    /* NEW */
    display: block;
}

.tooltip_uboat {
    display: inline;
}

.tooltip {
    display: none;
    /* NEW */
    background: #C8C8C8;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width: 450px;
    max-height: 100px;
    font-size: 11px;
    color: black;
}